*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #B4AEAE;
    height: 60px;
    max-width: 1106px;
    margin: 30px auto;
    padding: 31px 39px 50px 31px;
    align-items: center;


    .div-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 33px;
    }

    .navbar-links {
        display: flex;
        justify-content: space-between;
        gap: 33px;
        list-style: none;
    }

    .navbar-text {
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        color: #4B5563;
    }

    .button-navbar {
        width: 189px;
        height: 60px;
        border-radius: 6px;
        border: 1px solid;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        background-color: #16A34A;
        color: #FFFFFF;
        cursor: pointer;

        &:hover {
            background-color: #21C05C;
        }
    }

}

main{
    .garra_content{
        display: flex;
        justify-content: center;
        margin-bottom: 40px;

        .garra_text{
            display: flex;
            flex-direction: column;
            padding: 55px 20px 43px 54px;
            
            h1{
                font-family: 'Poppins', sans-serif;
                font-size: 60px;
                font-weight: bold;
                color: #1F2937;
                line-height: 130%;
                letter-spacing: 0%;
                max-width: 678px;
                margin-bottom: 25px;
            }

            h4{
                font-family: 'inter', sans-serif;
                font-weight: 400;
                font-size: 20px;
                color: #4B5563;
                line-height: 100%;
                max-width: 678px;
                margin-bottom: 40px;
            }

            .text_btn_content{
                display: flex;
                gap: 43px;
                
            }

            button{
                display: flex;
                width: 189.81px;
                height: 62px;
                border-radius: 6px;
                font-family: 'Poppins', sans-serif;
                border: 1px solid;
                font-size: 16px;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }
            .btn_garra_green{
                background-color: #16A34A;
                color: #FFFFFF;
            }

            .btn_garra_blue{
                background-color: #FFFFFF;
                color: #2563EB;
            }

        }
    }

    .bixo_content{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 215px;
        margin-bottom: 101;

        .bixo_text{
            display: flex;
            align-items: center;
            flex-direction: column;
             
            h2{
                display: flex;
                font-family: 'Poppins', sans-serif;
                max-width: 700;
                font-size: 40px;
                line-height: 100%;
                color: #16A34A;
                font-style: bold;
            }

            p{
                display: flex;
                font-family: 'Poppins', sans-serif;
                max-width: 400;
                font-size: 16px;
                line-height: 100%;
                color: #4B5563;
            }

        }


        .bixo_text2{
            display: flex;
            align-items: center;
            flex-direction: column;

            h2{
                display: flex;
                font-family: 'Poppins', sans-serif;
                max-width: 700;
                font-size: 40px;
                line-height: 100%;
                color: #16A34A;
                font-style: bold;
            }

            p{
                display: flex;
                font-family: 'Poppins', sans-serif;
                max-width: 400;
                font-size: 16px;
                line-height: 100%;
                color: #4B5563;
            }
         }

         .bixo_text3{
            display: flex;
            align-items: center;
            flex-direction: column;

            h2{
                display: flex;
                font-family: 'Poppins', sans-serif;
                max-width: 700;
                font-size: 40px;
                line-height: 100%;
                color: #16A34A;
                font-style: bold;
            }

            p{
                display: flex;
                font-family: 'Poppins', sans-serif;
                max-width: 400;
                font-size: 16px;
                line-height: 100%;
                color: #4B5563;
            }

         }
 }


}

@media (max-width: 700px) {
    header {
        display: flex;
        flex-direction: column;
        width: 95%;
        padding: 31px 0px 100px 31px;
        gap: 10px;


        .navbar-img {
            justify-self: left;
            align-self: flex-start;
        }

        .navbar-links {
            gap: 8px;
        }

        .navbar-text {
            font-size: 10px;
        }

        .button-navbar {
            width: 130px;
            height: 40px;
            font-size: 10px;
        }

    }
}
